<div class="gap-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  @for (image of imageIds; track image) {
  <div
    (click)="selectImage($index)"
    class="relative aspect-video bg-cover bg-center group"
  >
    @defer (on viewport){
    <img
      class="absolute inset-0 w-full h-full object-cover"
      [src]="
        'https://drive.google.com/thumbnail?authuser=0&sz=w256h144&id=' + image
      "
    />
    }@placeholder (minimum 500ms){
    <div class="absolute inset-0 flex flex-col justify-center items-center">
      <mat-spinner diameter="32" />
    </div>
    }
  </div>
  }
</div>

@if(showImagePreview){
<app-image-preview
  [imageId]="imageIds[currentIndex]"
  (closePreview)="showImagePreview = false"
  [first]="currentIndex === 0"
  [last]="currentIndex === imageIds.length - 1"
  (moveLeft)="moveLeft()"
  (moveRight)="moveRight()"
  [progressLabel]="currentIndex + 1 + ' / ' + imageIds.length"
></app-image-preview>
}
